html(lang='en')
    head 
        title Mini Message Board
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 #{title}         
        block addNewMessage
        block content
     

    